<nav class="navbar bg-body-tertiary align-items-center m-0 p-0" style="height: 30px;">
  <ul class="container-fluid justify-content-center">
    <li id="signup">
        <a class='link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover m-3' href="/user/signup">
        Signup
      </a>
    </li>
    <li id="login">
      <a class='link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover m-3'
      href="/user/login">
        Login
      </a>
    </li>
  </ul>
</nav>