<%- include('../partials/head.ejs') %>
<style>
  .bg-pr{
        background-color: aliceblue;
    }
</style>
<body class="bg-pr">
  <div class="error"></div>
  <div class="
    bg-light
    custom
    px-5 py-4 border rounded-4 col-auto
    centering container 
    position-absolute top-50 start-50 translate-middle
    centering content
    d-flex justify-content-center">
    <form class="">
      <h1 class="text-center">Login</h1>
      <div class="row">
        <label for="username">Username</label>
        <input class="form-control" type="text" id="username" required>
      </div>
      <div class="row">
        <label for="password">Password</label>
        <input class="form-control" type="password" id="password" required>
      </div>
      <div class="row mt-2 padding_0">
        <button class="btn btn-secondary" type="submit">Login</button>
      </div>
      <p class="text-center">
        Create an account? <a href="/user/signup">Signup</a>
      </p>
    </form>
  </div>

  <script>
    const form = document.querySelector('form')
    const getErrorDiv = document.querySelector('.error')

    form.addEventListener('submit', async (e) => {
      e.preventDefault()

      const username = form.username.value
      const password = form.password.value

      console.log(username, password)
      try {
        const res = await fetch("/user/login", {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            username, password
          })
        })

        const data = await res.json()
        console.log(data)

        if (data.user) {
          location.assign('/message/send')
        }

        if (data.errors) {
          for (let res in data.errors) {
            console.log(data.errors[res])
            if (data.errors[res] == '') {
              delete data.errors[res]
            }
          }

          console.log(data.errors);

          getErrorDiv.innerHTML = `
          <div class="bg-danger text-white sticky-top" style="height: 2em;">
            <p class="error d-block text-center p-1">
              ${Object.values(data.errors)}
            </p>
          </div>
          `
        }
      } catch (err) {
        console.log('error: ',err)
      }
    })
  </script>
</body>