<%- include('../partials/head.ejs') %>
  <style>
    .bg-pr {
      background-color: aliceblue;
    }

    nav ul {
      height: 100%
    }

    .scroll ul {
      height: 75vh
    }

    .stangersUL{
      color: aliceblue;
    }

    hr {
      margin: 3px;
    }

    #scrollBott {
      visibility: hidden;
    }

    @media only screen and (max-width: 767px) {
      .contact ul {
        height: 30vh;
      }
    }
  </style>
  <%- include('../partials/header-message.ejs') %>

  <body class="bg-pr">
    <div class="container-m d-flex justify-content-center" style="height: 90vh; margin: auto; margin-top: 4vh;">
      <div class="contact container-l">
        <div class="row" style="width: 200vh;">

          <div class="row col-md-3">
            <div class="scroll">

              <div class="border bg-light overflow-y-auto" style="height: auto; width: 40;">
                <!--Username + Profile Setting (Logout, Change account, Profile)-->
                <h1 style="margin-left: 20px;">Username</h1>
              </div>
              <div style="height: 79.5vh;">
                <ul class="overflow-y-auto list-group border bg-light h-md-25" style="height: 85vh;" id="ulFriends">
                </ul>
              </div>
              <div class="dropup-center dropup" style="width: 40vh;">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                  aria-expanded="false" style="width: 43vh;">
                  Strangers
                </button>
                <ul class="dropdown-menu bg-secondary h-md-25" style="height: 70vh; width: 43vh;" id="ulStrangers"></ul>
              </div>
            </div>
          </div>

          <div class="row col-md-9">
            <div class="scroll">

              <div class="border bg-light" style="height: 8vh;"><!--Recievername + Profile view onClick-->
                <h1 style="margin-left: 20px;">Message</h1>
              </div>

              <div class="position-relative border bg-light" style="height: 80vh;">
                <div style="height: 80vh;" id="chatBox">
                  <ul class="z-n1 px-5 pb-2 overflow-y-auto" style="height: 80vh; " id="ulMessages"></ul>
                </div>
                <button class="position-absolute btn btn-secondary bottom-0 end-0 badge rounded-pill" id="scrollBott"
                  style="margin-bottom: 20px; margin-right: 25px; height: 5vh; width: 5vh;" type="button"
                  onClick="scrollToBottom()">
                  <i class="bi bi-arrow-down"></i>
                </button>
              </div>

              <form class="input-group">
                <input type="text" class="w-75 form-control" placeholder="Input Message" id="inputMessage"
                  autocomplete="off">
                <button type="submit" class="btn form-control btn-light border w-auto text-wrap">Send</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- TODO: Make refresh button for get message -->
    <script type="module" src="../js/messages/contact.js"></script>
    <script type="module" src="../js/messages/messages.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/validator@13.7.0/validator.min.js"></script>
    <!-- <script type="module" src="../js/messages/test.js"></script> -->
    <script>
      function scrollToBottom() {
        const element = document.getElementById('ulMessages');
        element.scrollTop = element.scrollHeight;
      }

      const scroller = document.querySelector("#ulMessages");
      const element = document.getElementById("ulMessages");
      let mybutton = document.getElementById("scrollBott");

      // scroller.addEventListener("scroll", () => {
      //   console.log(scroller.scrollTop);
      // });

      function scrollToBottom() {
        element.scrollTop = element.scrollHeight;
      }

      element.onscroll= function() {scrollFunction()}

      function scrollFunction() {
        if (element.scrollHeight - scroller.scrollTop < 800 ) {
          mybutton.style.visibility = "hidden";
        } else {
          mybutton.style.visibility = "visible";
        }
      }
    </script>

  </body>